* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_2 {
  width: 100%;
  height: 851px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_4 {
  width: 210px;
  height: 163px;
  background: url("../images/v11_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 57px;
  overflow: hidden;
}
.v6_2 {
  width: 141px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v6_3 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_5 {
  width: 100%;
  height: 232px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 0px;
  overflow: hidden;
}
