* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_2 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_4 {
  width: 210px;
  height: 171px;
  background: url("../images/v11_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 20px;
  overflow: hidden;
}
.v6_3 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v6_2 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_2 {
  width: 122px;
  color: rgba(187,187,187,1);
  position: absolute;
  top: 331px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v16_0 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 313px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v102_0 {
  width: 961px;
  height: 479px;
  background: url("../images/v102_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 358px;
  overflow: hidden;
}

.menu_hover:hover {
  font-size: 30px;
  color: rgb(192,192,192);

}


a {
    color: rgba(0,0,0,1);
    text-decoration: none;
}

a:hover {
     color:rgba(0,0,0,1);
     text-decoration:none;
     cursor:crosshair;
}
.underline {
  text-decoration: underline;
}

.underline:hover {
  text-decoration: underline;
}
